@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "bootstrap/dist/css/bootstrap.min.css";
@import "./site/styles/scss/main.scss";
/* .shape-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
.month-btn {
  width: auto;
}

@media (min-width: 992px) {
  .month-btn {
    width: 100%;
  }
}

.clamp-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
